header {
    border-top-style: solid;
    border-top-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-right-style:solid;
    border-right-width: 20px;
    font-variant: small-caps;
    text-align: center;
    padding:3px
}

h1, aside {
    margin: 0;
    display: inline-block;
  vertical-align: top;
  }

aside {
    float:right;
text-align: right;
border-right-style: solid;
border-right-width: 20px;
border-right-color:lightcoral;
padding-top: 5px;
padding-right: 20px;
width:20%

}

aside::first-line {
    font-weight: bold;
}

body {
    background-image: url("WidgetCoLogo.gif");
    background-repeat: no-repeat;
    background-position:center;
    
    h1 {
        padding-top:30px;
        float:left;
        text-align: left;
        width: 70%;
    }

    article{
        clear:both;
        padding: 15px;
            h2 {
                font-style: italic;
                text-align: center;
            }
            p {
                text-align: justify;
            }
            section {
                padding: 13px ;
                text-align: justify;
                border-left-width: 40px;
                border-style: solid;
                border-color: darkblue;
                background-color: lightsteelblue;
            }
       }

footer {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 7px;
    text-align: right;
    color: gray;
    font-style: italic;
}

footer a:link {
    color:gray
}

}
 